<div style="min-height: 100px">
	You check: 
	<div *ngIf="results.length > 0">
		<span *ngFor="let item of results; let i = index;">
			Checkbox #{{item}}
			<span *ngIf="i < results.length - 1">__</span>
		</span>
	</div>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
	<div *ngFor="let item of ranges" style="width: 20%;display: inline-flex;">
		<label>
	  		<input type="checkbox" name="checkbox_{{item}}" [(ngModel)]="checkArr[item]" [checked]="item" (change)="changeCheckbox(item)">
	  		Checkbox #{{item}}
		</label>
  	</div>
</form>